@tailwind base;
@tailwind components;
@tailwind utilities;


.video {
    position: absolute;
}

.booka {
    position: absolute;
    bottom: 5rem;
    right: 21rem;
    z-index: 10;
}

.pix {
    border-radius: 20rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .booka {
        right: 2rem;
        bottom: 6rem;
    }
}